<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="HeaderCtrl">
	<div class="container">

		<!-- Mobile View -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rd-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-calendar"></span>&emsp;</a>
			<span class="navbar-brand" style="width: 60px;"></span>
		</div>

		<div class="collapse navbar-collapse" id="rd-navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a data-ng-click="open('/')" class="rd-clickable">Calendar</a></li>
			</ul>
		</div>

	</div>
</nav>