//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #2e6280;
//** Global text color on `<body>`.
@text-color:            @gray;

//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    34px;
@navbar-default-bg:                #fff;
@navbar-default-border:            #2baaf1;
